/* Main Top Menu */

#nav {
 // float: right;
 margin: 0 auto; 
 padding: 0;
 border-bottom: none;
 ul{
  font-size: 16px;
  line-height: 0;
  margin-bottom: 0;
  }
 li {
  list-style: none;
  position: relative;
  float: left;
    &:hover > ul {
       display: block;
      }
    ul {
     display: none;
     position: absolute;
     line-height: 20px;
     left: 0;
     top: 100%;
     padding: 5px 0; 
     margin: 0;
     li a {
       width: 230px;
       padding: 16px 32px;
       display: block;
       border-bottom: 1px solid $brown;
       border-top: 1px solid $brown;
       border-right: 1px solid $brown;
       border-left: 1px solid $brown;
       &:first-child{
        border-top: none;
       }
      }
    }
    a {
     padding: 30px 24px;
     text-decoration: none;
     color: white;
     background: $yellow;
     float: left;
       &:hover {
        color: $brown;
       }
    }
  }
}

.menu-item-76{
  font-size: 40px;
}

.current-page-parent{
  border-bottom: 5px solid $brown;
}

// #nav li a, #nav li {
//  float: left;
// }

// #nav li {
//  list-style: none;
//  position: relative;
// }

// #nav li a {
//  padding: 30px 32px;
//  text-decoration: none;
//  color: white;
//  background: $yellow;
// }

// #nav li a:hover {
//  color: $brown;
// }


/* Submenu */


// #nav li ul {
//  display: none;
//  position: absolute;
//  line-height: 20px;
//  left: 0;
//  top: 100%;
//  padding: 5px 0; 
//  margin: 0;
 
// }

// #nav li:hover > ul {
//  display: block;
// }


// #nav li ul li, #nav li ul li a {
//  float: none;
// }

// #nav li ul li {
//  _display: inline; /* for IE6 */
// }
// #nav li ul li a {
//  width: 250px;
//  padding: 16px 32px;
//  display: block;
//  border-bottom: 1px solid $brown;
//  border-top: 1px solid $brown;
//  border-right: 1px solid $brown;
//  border-left: 1px solid $brown;
//  &:first-child{
//   border-top: none;
//  }
// }

// .current-menu-item{
//   // border-bottom: 5px solid $brown;
//     a{
//       color: $brown !important;
//     }
// }