/* #######################################################################
  IDC SCSS START
####################################################################### */
.header{
  background-color: $yellow;
  z-index: 9999999;
  padding: 0 0 5px 0;
  // @include tablet{
  //  background-color: red;
  // }
}

.pad-top{
  padding-top: 4em;
}

.no-pad{
  padding: 0;
}

.center{
  text-align: center;
}


h2{ 
margin: 0;
font-family: georgia;
font-weight: 300;
a{
  color:red;
  &:hover{
    color:black;
    }
  }
}

.title{
  h2{ 
    margin: 0;
    font-family: georgia;
    font-weight: 300;
    a {
      color:#004a4d;
      &:hover{
        color:black
      }
    }
  }
  h6 { 
    margin: 0 0 0px 0; 
    color: #959595; 
  }
  .top{ 
    padding-top: 0.7em; 
  }
}

.blogs {
  margin:2em 0;
}

.post-date{
  font-size:.7em;
  color:#b0b0b0;
  font-family: georgia;
  font-weight: 300;
}

.blog{
  .readmore a{ 
    color: $red; 
  }
}

.last{
  margin-bottom: 3em; 
}

.action{
  h2{ 
    margin: 0; 
    color: $yellow; 
  }
  .top{ 
    padding-top: 0.7em; 
  }
}

footer{
  background-color: $blue;
  height: 30em;
  border-top: solid 10px $yellow;
  padding-top: 3em;
  h1 {
    color: white;
  }
  h3 {
    color:#516b6c; 
    padding: 1.2em 0 0 0; 
    margin: 0 0 0 0; 
  }
  p {
    color:#516b6c;
     padding-top: 0;
     margin-top:0;
  }
  ul{
    text-align: center; 
    height: 30px;
    li{
      display: inline;
      margin: 15px 0.625em;
      overflow: hidden;
        @include tablet {
          padding: 0 1.5em;   
        }
    }
  }
  a{ 
    color: white;
    &:hover{ 
      color: $yellow 
    }
    &:active{ 
      color:grey; 
    }
  } 
}

.blockquote {
  line-height:1.6;
  color:#6f6f6f;
  text-align:center;
}

.slideshow{
 
  h2{
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    margin:0;
    padding-left:10px;
    background-color: rgba(255,255,255,0.5);
  }
  h4{
    position: absolute;
    bottom:0;
    left:0;
    margin:0;
    padding-left:10px;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
  }
  #next{
    position: absolute;
    background: url(../images/next.png);
    right:0;
    top:125px;
    height: 50px;
    width: 40px;
    z-index: 99999;
    text-indent: -99999;
  }
  #prev{
    top:125px;
    position: absolute;
    background: url(../images/prev.png);
    height: 50px;
    width: 40px;
    z-index: 99999;
    text-indent: -99999;
  }

}
.slideshow-container{
  height:350px;
  
}

.slideshow-cap {
  background:#faf8cf;
  position: relative;
  left: 69%;
  bottom: 220px;
}