/* line 8, ../sass/idc.scss */
.header {
  background-color: #999933;
}

/* line 11, ../sass/idc.scss */
.pad-top {
  padding-top: 4em;
}

/* line 14, ../sass/idc.scss */
.no-pad {
  padding: 0;
}

/* line 17, ../sass/idc.scss */
.center {
  text-align: center;
}

/* line 21, ../sass/idc.scss */
.title h2 {
  margin: 0;
  color: #002a29;
}
/* line 24, ../sass/idc.scss */
.title h6 {
  margin: 0 0 0px 0;
  color: #959595;
}
/* line 28, ../sass/idc.scss */
.title .top {
  padding-top: 0.7em;
}

/* line 33, ../sass/idc.scss */
.blog {
  margin-top: 2.1em;
}
/* line 35, ../sass/idc.scss */
.blog .readmore a {
  color: #cc0000;
}

/* line 39, ../sass/idc.scss */
.last {
  margin-bottom: 3em;
}

/* line 43, ../sass/idc.scss */
.action h2 {
  margin: 0;
  color: #999933;
}
/* line 47, ../sass/idc.scss */
.action .top {
  padding-top: 0.7em;
}

/* line 51, ../sass/idc.scss */
footer {
  background-color: #002a29;
  height: 30em;
  border-top: solid 10px #999933;
  padding-top: 3em;
}
/* line 56, ../sass/idc.scss */
footer h1 {
  color: white;
}
/* line 59, ../sass/idc.scss */
footer h3 {
  color: #999933;
  padding: 1.2em 0 0 0;
  margin: 0 0 0 0;
}
/* line 64, ../sass/idc.scss */
footer p {
  color: #999933;
  padding-top: 0;
  margin-top: 0;
}
/* line 69, ../sass/idc.scss */
footer a {
  color: white;
}
/* line 72, ../sass/idc.scss */
footer a:hover {
  color: #999933;
}
/* line 75, ../sass/idc.scss */
footer a:active {
  color: grey;
}

/* line 79, ../sass/idc.scss */
.quote {
  border-right: 1px solid #999933;
  border-left: 1px solid #999933;
}
